$margin: 20px;

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Source Sans Pro', sans-serif;
}

.bodyIndex {
background-image: url(/img/fondo4.jpg);
background-attachment: fixed;
}

.bg-light2 {
background-color: white;
}

a:link, a:hover, a:visited, a:active a {
text-decoration:none;
color:black;
}


.redes {
display: flex;
flex-wrap: wrap;
justify-content: center;
padding-top: 3px;
}

.btn {
margin-top: $margin*1;
}
